<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ClientIpAddress" value="192.168.1.2"/>
    <add key="ClientPort" value="7000"/>
    <add key="ServerIpAddress" value="192.168.1.2"/>
    <add key="ServerPort" value="6000"/>
  </appSettings>
</configuration>